html {}

body {
  overflow-x: hidden;
  min-width: 320px;

  background: var(--white);

  font-family: TTHoves, sans-serif;
  color: var(--black);
  font-weight: 400;

  &.body-lock {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  // overflow-x: hidden;
  position: relative;
}

.main {
  // overflow-x: hidden;
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 20px;

  &-right {
    padding-left: calc((100% - 1540px) / 2 + 20px);
  }
}

.d-none {
  display: none;
}

.tab-item {
  display: none;

  &.tab-active {
    display: block;
  }
}

section,
.section {
  margin-bottom: 150px;
}

.section__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.head {
  margin-bottom: 50px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#btn-up {
  position: fixed;
  right: calc(50% - 750px);
  bottom: 45px;
  z-index: 15;
  transform: rotate(-90deg);

  display: none;

  &.btn-up-show {
    display: flex;
  }

  &.btn-arrow {
    background-color: var(--blue);

    .icons-btn-arrow {
      stroke: var(--white);
    }
  }
}

.list {

  &-item,
  li {
    padding-left: 18px;

    background-image: url(../images/icons/point.svg);
    background-repeat: no-repeat;
    background-size: 6px 7px;
    background-position: left 0.625em;
  }
}

.sticky {
  position: fixed;
  top: 0;
}

.mirror {
  transform: scale(-1, 1);
}

.title {
  margin-bottom: 50px;
}

.muted {
  opacity: 0.5;
}

[class*="copyrights-pane"] {
  display: none !important;
}

[class*="-map"] {
  width: 100% !important;
}

.mini-tab {
  width: fit-content;
  padding: 2px;
  border-radius: 3px;
  box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    width: fit-content;
    height: 24px;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all .2s ease;

    text-transform: uppercase;

    position: relative;
    z-index: 1;

    &:hover {
      color: var(--blue);
    }

    &.tab-active {
      color: var(--white);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background-color: var(--blue);
        transition: all .2s ease;
      }
    }
  }
}

.sideblock {
  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 5;

  box-shadow: 0 0 28px 0 rgba(0, 0, 0, 0.1);
  background: var(--white);

  &__link {
    &:hover {
      .icons {
        fill: var(--blue);
      }
    }
  }

  .icons {
    width: 16px;
    height: 16px;
    fill: var(--black);
    transition: all .2s ease;
  }
}