@media (max-width: 1540px) {
  #btn-up {
    right: 20px;
  }
}

@media (max-width: 1200px) {

  .header__left .box,
  .header__btns,
  .menu {
    display: none;
  }

  .header__inner {
    border: none;
  }

  .header__right {
    gap: 30px;
  }

  .burger__open {
    display: flex;
  }

  .services__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-us__inner {
    justify-content: center;
  }

  .contact-us__img {
    display: none;
  }

  .history__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 52px auto;
    align-items: start;
    gap: 73px 20px;
  }

  .history__dots-wrapper {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .history__dots {
    justify-content: space-between;
    flex-direction: row;
  }

  .history__dots::before {
    top: unset;
    bottom: 0;
    left: 16px;
    width: calc(100% - 32px);
    height: 1px;
  }

  .history__dot {
    padding: 0 0 23px 0;
  }

  .history__dot::before {
    top: unset;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
  }

  .history__dot--active::before {
    bottom: -9px;
  }

  .history__dot--active::after {
    top: unset;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
  }

  .history__info {
    grid-column: 1/2;
    grid-row: 2/3;

    max-width: 100%;
  }

  .history__title {
    max-width: 100%;
  }

  .history__image-box {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .page__news {
    .projects__items {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 20px;
    }
  }

  .news-open__info-wrapper {
    margin: 0;
  }

  .page__news-open {
    .projects__items {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 20px;
    }
  }

  .projects-object__inner {
    display: flex;
    flex-direction: column;
  }

  .projects-object__info {
    min-height: unset;
    position: static;
  }
}

@media (max-width: 991px) {

  .footer__address,
  .footer__bottom,
  .footer .phone-box span {
    font-size: 12px;
    letter-spacing: 0.01em;
  }

  .footer__content {
    grid-template-columns: 1fr 1fr;
    gap: 56px 20px;
    padding: 30px 0;
  }

  .footer__box {
    padding: 0 0 4px 0;
    gap: 73px;
  }

  .footer__contacts {
    grid-column: 2/3;
    grid-row: 1/2;
    gap: 20px;
  }

  .footer__contacts-box {
    gap: 12px;
  }

  .footer__contacts-items {
    gap: 20px;
  }

  .footer .socials__list {
    gap: 20px;
  }

  .footer .phone-box {
    gap: 8px;
  }

  .footer__bottom {
    grid-template-columns: 1fr 1fr 1.15fr 0.95fr;
    gap: 31px;
  }

  .footer__nav {
    gap: 12px;
  }

  .footer__nav .nav__list {
    gap: 16px;
  }

  .footer__address {
    grid-column: span 1;
  }

  .footer .socials {
    grid-row: span 2;
  }

  .intro__bottom {
    gap: 65px;
  }

  .page__main .services__item:hover {
    padding: 35px 30px 30px;
  }

  .page__main .services__inner .h1 {
    grid-column: 1/-1;
  }

  .swiper-slide {
    width: fit-content;
  }

  .section-swiper__inner {
    gap: 30px;
  }

  .section-swiper__head {
    min-height: 60px;
  }

  .section-swiper .swiper-slide {
    max-width: 292px;
  }

  .section-swiper__slide {
    gap: 16px;
  }

  .section-swiper__image-box {
    aspect-ratio: 292/200;
    max-width: 292px;
  }

  .section-swiper .swiper-slide:nth-child(1) .section-swiper__image-box {
    aspect-ratio: 416/250;
    max-width: 416px;
  }

  .section-swiper__info-wrapper {
    max-width: 350px;
  }

  .main-news__swiper {
    .section-swiper__info-wrapper {
      max-width: 400px;
    }
  }

  .accardion .section-swiper__head {
    min-height: 49px;
  }

  .services-object__inner {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .services-object__slide-info-box {
    width: 100%;
    height: fit-content;
    padding: 0;
    flex-direction: row;
  }

  .services-object__slide-info {
    max-width: 500px;
  }

  .services-object .swiper-index-box {
    display: none;
  }

  .services-object__swiper-controls-box {
    width: fit-content;
    padding-bottom: 6px;

    align-items: flex-end;
  }

  .page__projects {
    .services__items {
      grid-template-columns: repeat(2, 1fr);
    }

    .services__item:first-child,
    .services__item:last-child {
      grid-column: span 1;
    }
  }

  .contacts__inner {
    margin: 0;
    gap: 20px;
  }

  .achievements__inner {
    gap: 60px;
  }

  .achievements__items {
    grid-template-columns: 1fr 1fr;
  }

  .achievements__items-box {
    padding-right: 4px;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .achievements__item {
    gap: 16px;
  }
}

@media (max-width: 768px) {

  section,
  .section,
  .page-404 {
    margin-bottom: 120px;
  }

  .big-factoids {
    font-size: 100px;
  }

  .factoids {
    font-size: 50px;
  }

  .h1 {
    font-size: 40px;
  }

  .h2 {
    font-size: 30px;
    line-height: 120%;
  }

  .h3 {
    font-size: 24px;
  }

  .h3-regular {
    font-size: 24px;
  }

  .h4 {
    font-size: 20px;
  }

  .text-20 {
    font-size: 18px;
  }

  .socials__list {
    gap: 20px;
  }

  .header__inner {
    min-height: 71px;
  }

  .intro__slide,
  .page-404__inner {
    height: clamp(700px, 95vh, 985px);
  }

  .services__inner {
    gap: 50px 30px;
  }

  .services__items {
    gap: 20px;
  }

  .services__item {
    height: 280px;
    padding: 35px 30px 30px;

    &:not(:first-child) {
      .services__item-numb {
        gap: 10px;
      }
    }

    &:hover {
      height: 100%;
      padding: 20px;
    }
  }

  .services__item-head,
  .services__item-numb {
    transition: all 0s ease;
  }

  .page__main .services__item:hover {
    .services__item-head {
      margin-top: -48px;
    }
  }

  .services__item .btn-arrow {
    top: 20px;
    right: 20px;
  }

  .services__item-numb .text-14 {
    margin: 0;
  }

  .projects-main .projects__inner {
    gap: 30px;
  }

  .projects__tab {
    gap: 30px;
  }

  .projects__items {
    gap: 40px 20px;
  }

  .projects__image-box {
    aspect-ratio: unset;
    height: 250px;
  }

  .projects-main .projects__more {
    display: none;
  }

  .banner__inner {
    padding: 30px;
  }

  .banner__wrapper {
    gap: 24px 30px;
  }

  .banner__title {
    margin-bottom: 30px;
  }

  .about-us__content {
    margin-bottom: 80px;
  }

  .about-us__title-box {
    gap: 30px;
  }

  .about-us__title-box .h1 {
    font-size: 30px;
    line-height: 120%;
  }

  .about-us__box {
    gap: 16px;
  }

  .about-us__image-box {
    aspect-ratio: 228/140;
  }

  .about-us__box .text-16 {
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.01em;
  }

  .advantages {
    padding: 32px 30px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 20px;
  }

  .reviews__swiper {
    gap: 30px;
  }

  .reviews .swiper-slide {
    width: 100%;
  }

  .reviews__item {
    padding: 14px 0 0 61px;
    gap: 40px;
  }

  .reviews__item-descr {
    gap: 15px;
  }

  .reviews__item .icons-mark {
    width: 49px;
    height: 38px;
  }

  .contact-us__inner {
    padding: 40px 30px;
  }

  .contact-us__content {
    max-width: 100%;
    gap: 30px;
  }

  .contact-us__form {
    gap: 30px;
  }

  .contact-us__form-inputs {
    max-width: 616px;
  }

  .modals__project-planning .modal-content,
  .modals__modal .modal-content {
    padding: 30px;
    gap: 30px;

    .contact-us__form-inputs {
      max-width: 100%;
    }
  }

  .modals .btn-close {
    width: 22px;
    height: 22px;
  }

  .main-news__swiper .swiper-slide:not(:first-child) .section-swiper__image-box {
    max-height: 200px;
  }

  #btn-up {
    bottom: 40px;
  }

  .intro .swiper-controls {
    gap: 20px;
  }

  .intro__content {
    bottom: 176px;
  }

  .banner .socials__list {
    gap: 20px;
  }

  .breadcrumbs__inner {
    padding: 30px 0 24px;
  }

  .video {
    margin-bottom: 80px;
  }

  .about__inner {
    gap: 50px;
  }

  .about__image-box,
  .page__services-object .about__image-box {
    height: 500px;
  }

  .about__info-wrapper {
    gap: 27px;
  }

  .accardion__inner {
    gap: 30.5px;
  }

  .accardion__item {
    padding: 24px 0;
  }

  .accardion__item-head {
    gap: 30px;
  }

  .accardion__item-content {
    padding: 30px 0 24px;
    margin-right: 15px;
  }

  .projects__more {
    padding-top: 9px;
  }

  .page__services-open .about__info-wrapper {
    padding-top: 0;
    padding-right: 24px;
    gap: 28px;
  }

  .team__swiper {
    gap: 30px;
  }

  .services-object__slide-info {
    max-width: 354px;
  }

  .services-object__slide-image-box {
    height: 500px;
  }

  .page__services-object {
    .about__info-wrapper {
      padding: 0;
      gap: 30px;
    }

    .about__info ul {
      gap: 7.4px;
    }
  }

  .page__projects {
    .projects__inner {
      gap: 40px;
    }

    .projects__head {
      gap: 24px;
    }

    .projects__head-info {
      font-weight: 400;
      font-size: 16px;
      line-height: 142%;
    }

    .projects__head .btn {
      margin-bottom: 5px;
    }

    .projects__items {
      gap: 40px 20px;
    }

    .objects__inner {
      gap: 40px;
    }
  }

  .pagination {
    margin-top: 50px;
  }

  .page-404__inner {
    padding-top: 270px;
  }

  .page-404__content-text {
    gap: 24px;
  }

  .page-404__content {
    gap: 40px;
  }

  .page-404__title {
    right: 4px;

    font-size: 200px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }

  .title {
    margin-bottom: 40px;
  }

  .privacy__content {
    gap: 30px;
  }

  .privacy__list-1-item {
    gap: 24px;
  }

  .privacy__list-1 {
    gap: 30px;
  }

  .privacy__list-2 {
    gap: 12px;
  }

  .head {
    margin-bottom: 40px;
  }

  .page__reviews {
    .reviews__list {
      gap: 36px;
    }

    .reviews__item {
      padding: 36px 0 0 0;
    }

    .reviews__item-images {
      gap: 20px;
    }

    .reviews__item-img {
      max-width: 105px;
    }

    .reviews__item-descr {
      line-height: 139%;
    }
  }

  .licenses__item {
    min-height: unset;
    padding: 30px;
  }

  .licenses__item-info {
    min-height: 95px;
    justify-content: space-between;
  }

  .contacts__inner {
    padding-top: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .map {
    height: 884px;
  }

  .contacts__content {
    padding-top: 20px;
  }

  .contacts__info-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .contacts__box-wrapper {
    max-width: 352px;
    min-width: unset;
  }

  .history__info {
    gap: 30px;
  }

  .history__info-box {
    gap: 20px;
  }

  .history__image-box {
    height: 500px;
  }

  .page__news {
    .section-swiper__image-box {
      aspect-ratio: 354 / 250;
    }

    .section-swiper__slide {
      gap: 20px;
    }
  }

  .news-open__title {
    max-width: 660px;
  }

  .news-open__inner {
    gap: 50px;
  }

  .news-open__image-box {
    height: 600px;
  }

  .news-open__content {
    gap: 24px;
  }

  .news-open__info-wrapper {
    gap: 80px;
  }

  .news-open__info-box {
    gap: 40px;
  }

  .news-open__list-wrapper {
    line-height: 139%;
  }

  .news-open::before {
    display: none;
  }

  .page__news-open {
    .projects__inner {
      gap: 30px;
    }

    .section-swiper__image-box {
      aspect-ratio: unset;
      height: 250px;
    }

    .section-swiper__slide:nth-child(n+3) {
      display: none;
    }

    .section-swiper__slide {
      gap: 20px;
    }

    .breadcrumbs__list {
      flex-wrap: nowrap;
    }

    .breadcrumbs__item:last-child {
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      -ms-line-clamp: 1;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      display: -webkit-box;
      display: box;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      box-orient: vertical;
    }
  }

  .page__projects-object {
    .breadcrumbs__inner {
      padding: 30px 0 24px;
    }
  }

  .projects-object__info-top {
    gap: 24px;
  }

  .projects-object__info-content {
    grid-template-columns: minmax(auto, 250px) minmax(auto, 294px);
    justify-content: space-between;
    gap: 20px;
  }

  .projects-object__info {
    padding: 26px 30px;
  }

  .projects-object__info-bottom {
    gap: 28px;
  }

  .projects-object__chars {
    margin-top: 30px;
    gap: 24px;
  }

  .projects-object__chars-items {
    gap: 20px;
  }

  .projects-object__inner {
    gap: 30px;
  }

  .page__projects-object {

    .accardion {
      margin-top: 50px;
    }

    .accardion .section-swiper__head .h3 {
      font-size: 40px;
      line-height: 120%;
    }

    .accardion__item-title {
      font-size: 24px;
      letter-spacing: -0.01em;
    }

    .accardion__item-content {
      padding: 29.5px 0 24px;
      font-size: 18px;
    }

    .video {
      margin-bottom: 120px;
    }

    .projects__inner {
      gap: 30px;
    }
  }

  .projects-object__descr-wrapper {
    margin-top: 50px;
    gap: 30px;

    h2 {
      letter-spacing: -0.02em;
    }
  }

  .projects-object__descr {
    gap: 16px;
    line-height: 137%;
  }

  .projects-object {
    margin-bottom: 80px;
  }
}

@media (max-width: 668px) {

  .intro__slide,
  .page-404__inner {
    height: clamp(700px, 95vh, 812px);
  }

  .services__items {
    display: flex;
    flex-direction: column;
  }

  .projects__items {
    display: flex;
    flex-direction: column;
  }

  .about-us__content {
    display: flex;
    flex-direction: column;
  }

  .about-us__title-box .h1 {
    font-size: 24px;
    line-height: 120%;
  }

  .banner__img {
    right: unset;
  }

  .about__content {
    flex-direction: column-reverse;
  }

  .about__image-box {
    min-width: auto;
    position: static;
  }

  .page__services-open .about__content {
    flex-direction: column;
  }

  .page__projects {
    .projects__head {
      gap: 20px;
      padding-bottom: 35px;

      .h1 {
        display: flex;
        flex-direction: column;
      }
    }

    .projects__head-info-box {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }

  .contacts__inner {
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .map {
    height: 500px;
    order: 2;
  }

  .contacts__content {
    padding: 0;
    order: 1;
  }

  .contacts__info-wrapper {
    gap: 30px;
  }

  .contacts__box-wrapper .btn {
    margin-top: 8px;
  }

  .achievements__items {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .history__content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 24px;
  }

  .history__info {
    grid-row: 1 / 2;
  }

  .history__image-box {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .history__dots-wrapper {
    grid-row: 3/ 4;
  }

  .page__news-open {
    .projects__items {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .section-swiper__slide {
      gap: 12px;
    }

    .section-swiper__info {
      height: 19px;
    }
  }
}

@media (max-width: 568px) {
  .big-factoids {
    font-size: 80px;
  }

  .factoids {
    font-size: 50px;
  }

  .h1 {
    font-size: 28px;
  }

  .h2 {
    font-size: 24px;
  }

  .h3 {
    font-size: 20px;
  }

  .h3-regular {
    font-size: 20px;
  }

  .h4 {
    font-size: 18px;
  }

  .text-20 {
    font-size: 16px;
  }

  .h5 {
    font-size: 16px;
  }

  .text-16 {
    font-size: 14px;
  }

  .text-16-medium {
    font-size: 14px;
  }

  .text-14 {
    font-size: 12px;
  }

  .text-14-medium {
    font-size: 12px;
  }

  .d-mob {
    display: none;
  }

  .container {
    padding: 0 16px;
  }

  .btn {
    height: 41px;
    padding: 12px 16px;
  }

  .topbar {
    display: none;
  }

  .header__inner {
    min-height: 72px;
  }

  .header .icons-logo {
    width: 80px;
    height: 32px;
  }

  .header__right {
    gap: 20px;
  }

  .burger__open,
  .burger__close {
    width: 40px;
    height: 40px;
    padding: 9px;
  }

  .footer__box {
    grid-column: span 2;
    gap: 30px;
    padding: 0;
  }

  .footer__box .btn {
    width: fit-content;
  }

  .footer__nav .nav__list {
    gap: 10px;

    font-size: 12px;
    line-height: 160%;
  }

  .footer__nav .nav__item {}

  .footer__contacts {
    grid-template-columns: auto 41px;
    grid-column: span 2;
    grid-row: 3/4;
    gap: 24px;
  }

  .footer__contacts-items {
    gap: 24px;
  }

  .footer .socials__link {
    width: 41px;
    height: 41px;
  }

  .footer__content {
    padding: 40px 0 30px;
    gap: 49px 20px;
  }

  .footer__bottom {
    padding: 30px 0 40px;

    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .intro {
    margin-bottom: 60px;
  }

  .intro__content {
    gap: 20px;
    bottom: 162px;
  }

  .intro__content-list {
    gap: 4px;
    padding: 0;
    margin: 0;
  }

  .intro__bottom {
    height: 121px;
    padding: 40px 0;
    gap: 0;
    justify-content: space-between;
  }

  .intro__bottom .swiper-index-box {
    display: none;
  }

  .btn-arrow {
    width: 41px;
    height: 41px;
  }

  .swiper-controls {
    gap: 20px;
  }

  .services__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .services__item {
    padding: 27px 20px 20px;
    min-height: 200px;
    height: 200px;

    &:hover {
      padding: 20px;
    }
  }

  section,
  .banner,
  .page-404 {
    margin-bottom: 100px;
  }

  .projects__tab-btns {
    padding: 0 16px;
    margin: 0 -16px;
    gap: 20px;
  }

  .projects__item-info-wrapper h4 {
    font-size: 20px;
  }

  .projects__items {
    gap: 30px;
  }

  .banner__inner {
    padding: 30px 20px;
  }

  .banner__title {
    margin-bottom: 24px;
  }

  .banner .socials__link {
    width: 41px;
    height: 41px;
  }

  .banner .socials__list {
    gap: 20px;
  }

  .banner__content {
    gap: 20px;
  }

  .section-swiper__swiper {
    margin: 0 -16px;
    padding: 0 16px;
  }

  .section-swiper__head {
    min-height: 41px;
  }

  .section-swiper .swiper-slide,
  .section-swiper .swiper-slide:nth-child(1) {
    max-width: 283px;
  }

  .section-swiper__image-box {
    aspect-ratio: 283/200;
    height: 200px;
  }

  .section-swiper__slide {
    gap: 12px;
  }

  .section-swiper__info-wrapper {
    gap: 6px;
  }

  .about-us__image-box {
    aspect-ratio: unset;
    max-width: 100%;
    height: 200px;
  }

  .about-us__box .text-16 {
    font-size: 14px;
    line-height: 142%;
  }

  .about-us__content {
    margin-bottom: 50px;
  }

  .advantages {
    padding: 30px 20px;

    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }

  .advantages__item-info {
    h5 {
      font-size: 18px;
      line-height: 140%;
    }

    .text-14 {
      font-size: 14px;
      line-height: 160%;
    }
  }

  .reviews__head {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .reviews__swiper {
    gap: 14px;
  }

  .reviews__item {
    padding: 16px 0 0 32px;
    gap: 30px;
  }

  .reviews__item .icons-mark {
    width: 44px;
    height: 36px;
  }

  .reviews__author {
    gap: 16px;
  }

  .reviews__author-img {
    width: 40px;
    height: 40px;
  }

  .contact-us__inner {
    padding: 30px 20px;
  }

  .contact-us__head {
    gap: 20px;
  }

  .contact-us__form-bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  #btn-up {
    width: 41px;
    height: 41px;
    right: 16px;
  }

  .burger__menu {
    padding: 16px 0;
    gap: 30px;
  }

  .burger__head {
    padding: 0 16px;
  }

  .burger__head .phone-box {
    display: flex;
    margin-left: auto;
  }

  .burger__close-line {
    width: 23px;
  }

  .burger__body {
    .topbar {
      display: block;
      border: none;
      height: auto;

      .nav__list {
        flex-direction: column;
      }

      .nav__item {
        width: 100%;
      }
    }
  }

  .burger .nav__item {
    padding: 0 16px 12px;
    margin-bottom: 12px;
  }

  .burger__bottom {
    padding: 0 16px;

    .socials {
      display: flex;
    }

    .socials__link {
      width: 41px;
      height: 41px;
    }

    .socials__link .icons {
      width: 14px;
      height: 14px;
    }

    .socials__link .icons-whatsapp-phone {
      width: 7px;
      height: 7px;
    }
  }

  .burger__bottom-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;

    .phone-box {
      align-items: flex-start;
    }
  }

  .burger__bottom-btns .btn {
    padding: 12px;
  }

  .modals__project-planning .modal-content,
  .modals__modal .modal-content {
    padding: 20px 16px;
  }

  .modals .modal__head {
    gap: 16px;
  }

  .page__main .header {
    border-color: var(--black);
  }

  .breadcrumbs__inner,
  .page__services-object .breadcrumbs__inner {
    padding: 24px 0 20px;
  }

  .objects {
    margin-bottom: 80px;
  }

  .objects__inner {
    gap: 40px;
  }

  .video {
    height: 500px;
    margin-bottom: 60px;
  }

  .about__inner {
    gap: 30px;
  }

  .about__info-wrapper {
    width: calc(100% + 10px);
    gap: 24px;
    margin-right: -10px;
  }

  .about__content {
    gap: 30px;
  }

  .about__info ul {
    gap: 1px;
  }

  .about__image-box {
    height: 350px;
  }

  .accardion .services__item-numb {
    display: none;
  }

  .accardion__item {
    padding: 19px 0;

    &:last-child {
      padding: 20px 0;
    }
  }

  .accardion__item-btn {
    width: 41px;
    height: 41px;
  }

  .accardion__item-content {
    padding: 16px 0 0;
    margin: 0;
  }

  .projects__inner {
    gap: 30px;
  }

  .page__services-open .about__image-box {
    height: 400px;
  }

  .page__services-open .about__content {
    gap: 40px;
  }

  .page__services-open .about__info-wrapper {
    width: 100%;
    padding: 0;
    gap: 24px;
  }

  .page__services-open .about__info ul {
    gap: 5px;
  }

  .page__services-open .about__info {
    gap: 0.5em;
  }

  .team .btn-arrow {
    width: 49px;
    height: 49px;
  }

  .team__image-box {
    max-width: 283px;
    height: 350px;
    margin-bottom: 16px;
  }

  .faq {
    .section-swiper__head {
      min-height: 34px;
    }

    .accardion__inner {
      gap: 30px;
    }
  }

  .services-object__slide-info-box {
    min-width: unset;
  }

  .services-object__inner {
    gap: 24px;
  }

  .services-object__slide-info {
    gap: 20px;
  }

  .services-object__slide-info-box {
    flex-direction: column;
    gap: 20px;
  }

  .services-object {
    .swiper-controls {
      gap: 16px;
    }
  }

  .page__services-object {
    .about__info-wrapper .h1 {
      font-size: 40px;
    }

    .about__info-wrapper {
      width: 100%;
      gap: 24px;
    }

    .about__info ul {
      gap: 6.9px;
    }

    .about__content {
      gap: 24px;
    }

    .about__image-box {
      height: 350px;
    }

    .accardion .section-swiper__head {
      min-height: 34px;
    }

    .accardion__item-content {
      letter-spacing: -0.01px;
    }

    .team .swiper-controls {
      gap: 16px;
    }

    .contact-us__form {
      gap: 28px;
    }

    .footer__bottom {
      padding: 30px 0 38px;
    }
  }

  .page__projects {
    .projects__head-info {
      font-weight: 400;
      font-size: 14px;
      line-height: 142%;
    }

    .projects__items {
      gap: 30px;
    }

    .objects__inner {
      gap: 30px;
    }

    .services__item-body {
      max-width: 256px;
    }

    .objects {
      margin-bottom: 100px;
    }
  }

  .pagination {
    margin-top: 40px;
    gap: 18px;
  }

  .pagination__content {
    justify-content: center;
  }

  .pagination__btn-arrow {
    display: none;
  }

  .pagination__list {
    gap: 16px;
  }

  .pagination__link {
    width: 41px;
    height: 41px;
  }

  .page-404__inner {
    padding-top: 122px;
  }

  .page-404__content {
    gap: 30px;
  }

  .page-404__content-text {
    gap: 16px;
  }

  .page-404__title {
    right: 3px;
    bottom: 30px;

    font-size: 100px;
    line-height: 120%;
  }

  .title {
    margin-bottom: 30px;
  }

  .privacy__content {
    gap: 24px;
  }

  .privacy__list-1 {
    gap: 24px;
  }

  .privacy__list-1-item {
    gap: 16px;
  }

  .privacy__list-2 {
    gap: 8px;
  }

  .privacy__list-3 {
    padding: 0;
  }

  .head {
    margin-bottom: 30px;
    align-items: center;
  }

  .page__reviews {
    .breadcrumbs__inner {
      padding: 24px 0 16px;
    }

    .reviews__list {
      gap: 30px;
    }

    .reviews__item {
      padding: 30px 0 0 0;
      gap: 16px;
    }

    .reviews__item-content {
      gap: 16px;
    }

    .reviews__item-images {
      flex-wrap: wrap;
      gap: 16px 20px;
    }

    .reviews__item-img {
      max-width: 101px;
    }
  }

  .licenses__item {
    min-height: 136px;
    padding: 20px;
    align-items: flex-end;
    gap: 0;

    .h4 {
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
    }

    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 142%;
    }
  }

  .achievements__inner {
    gap: 40px;
  }

  .achievements__title {
    line-height: 121%;
  }

  .achievements__items-box {
    padding: 0;
  }

  .achievements__item {
    gap: 10px;
  }

  .achievements__items-box .achievements__item {
    gap: 16px;
  }

  .history__info {
    gap: 24px;
  }

  .history__info-box {
    gap: 16px;
  }

  .history__image-box {
    height: 460px;
  }

  .history__dots {
    margin-bottom: 9px;
    gap: 0;
  }

  .history__dot {
    padding: 0 0 18px 0;
  }

  .page__news {
    .projects__inner {
      gap: 40px;
    }

    .projects__items {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .section-swiper__image-box {
      aspect-ratio: 343 / 250;
      height: 250px;
    }

    .section-swiper__slide {
      gap: 12px;
    }

    .section-swiper__info {
      height: 19px;
    }

    .section-swiper__info~.h5 {
      min-height: 44px;
      line-height: 137%;
    }
  }

  .news-open__info-wrapper {
    gap: 60px;
  }

  .news-open__inner {
    gap: 40px;
  }

  .news-open__image-info {
    max-width: 245px;
  }

  .news-open__image-wrapper {
    gap: 24px;
  }

  .news-open__image-box {
    height: 460px;
  }

  .news-open__content {
    gap: 16px;

    &--demand {
      gap: 24px;
    }

    .h2 {
      font-size: 30px;
    }
  }

  .news-open__list-wrapper {
    gap: 8px;
    line-height: 137%;
  }

  .news-open__info-box {
    gap: 30px;
  }

  .page__news-open {
    .section__head {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .swiper__controls-wrapper {
    left: 20px;
    right: 20px;
    bottom: 20px;

    .swiper-controls {
      gap: 16px;
    }

    .swiper-index-box {
      font-size: 16px;
    }
  }

  .page__projects-object {
    .breadcrumbs__inner {
      padding: 24px 0 20px;
    }

    .mini-tab {
      top: 20px;
    }

    .accardion .section-swiper__head .h3 {
      font-size: 28px;
    }

    .section-swiper__head {
      min-height: 34px;
    }

    .accardion {
      margin-top: 40px;
    }

    .accardion__item-title {
      font-size: 20px;
      letter-spacing: -0.01em;
      line-height: 136%;
    }

    .accardion__item-content {
      padding: 11px 0 0;
      font-size: 16px;
    }

    .accardion__item-head {
      gap: 20px;
    }

    .projects-object {
      margin-bottom: 60px;
    }

    .video {
      margin-bottom: 100px;
    }

    .projects .section__head {
      gap: 13px;
    }
  }

  .projects-object__slide-image-box {
    height: 542px;
  }

  .projects-object__info {
    padding: 16px 20px;
  }

  .projects-object__info-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .projects-object__info-more {
    margin-top: 4px;
  }

  .projects-object__info {
    gap: 24px;
  }

  .projects-object__info-bottom {
    gap: 26px;
  }

  .projects-object__info-bottom-btns {
    flex-direction: column;
    gap: 20px;

    .btn {
      width: 100%;
    }
  }

  .projects-object__chars-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 20px;
  }

  .projects-object__chars {
    margin-top: 40px;
    gap: 20px;
  }

  .projects-object__inner {
    gap: 20px;
  }

  .projects-object__descr-wrapper {
    margin-top: 40px;
    gap: 20px;
  }
}