.btn {
  width: fit-content;
  height: 49px;
  padding: 16px 24px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;


  &:has(.btn-el:hover) .btn__content {
    transform: translateY(-100%);
  }

  &-el {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
  }

  &__content-box {
    overflow: hidden;
    pointer-events: none;
  }

  &__content {
    position: relative;
    transition: transform 0.4s ease;
    text-align: center;

    span {
      white-space: nowrap;
    }

    span:nth-child(2) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }
  }

  &-blue,
  &.tab-active {
    background: var(--blue);
    color: var(--white);
  }

  &-transp {
    // border: 1px solid rgba(62, 62, 62, 0.2);
    border: none;
    outline: 1px solid rgba(62, 62, 62, 0.2);
    color: var(--black);
  }

  &-white {
    border: none;
    background: var(--white);
    color: var(--black);
  }

  &-grey {
    background: var(--grey-100);
    color: var(--black);
    transition: background-color .4s ease, color .4s ease;

    &:hover {
      background: var(--blue);
      color: var(--white);
    }
  }

  &-arrow {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.2s ease;

    &__content {
      width: 17px;
      padding: 0 1px;
      overflow: hidden;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 15px;

      .icons-btn-arrow {
        width: 15px;
        height: 9px;

        &:first-child {
          stroke: var(--white);
        }
      }
    }

    &-hover:hover {
      background-color: var(--blue);

      .icons-btn-arrow {
        transform: translateX(200%);
      }
    }

    &-grey {
      .btn-arrow {
        background-color: var(--grey-100);

        &:hover {
          background-color: var(--blue);
        }
      }

      .swiper-button.swiper-button-disabled,
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  &-close {
    width: 24px;
    height: 24px;
    position: relative;

    &__line {
      width: 100%;
      height: 1px;
      background-color: var(--black);

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}