.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button.swiper-button-disabled {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

.swiper {
  &-line {
    width: 100%;
    height: 1px;
    background-color: rgba(#fff, .2);

    position: relative;
    z-index: 2;

    .swiper-scrollbar-drag {
      background: var(--white);
    }
  }

  &-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  &-button {
    margin: 0;
    position: static;
  }

  &-button-prev {
    transform: scale(-1, 1);
  }

  &-button-next {}
}

.swiper-index-box {
  opacity: 0.5;
}

.swiper__controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
  z-index: 2;

  .swiper-index-box {
    color: var(--white);
    opacity: 1;
  }
}