<div class="burger-overlay">
  <div class="burger">
    <div class="burger__menu">
      <div class="burger__head">
        <a class="logo" href="#!">
          <svg class="icons-logo">
            <use xlink:href="images/sprite.svg#logo"></use>
          </svg>
        </a>
        <div class="phone-box">
          <a class="h5" href="tel:88124022060">8 (812) 402-20-60</a>
          <span class="text-14">Обратный звонок</span>
        </div>
        <button class="burger__close">
          <span class="burger__close-line"></span>
          <span class="burger__close-line"></span>
        </button>
      </div>
      <div class="burger__body">
        <div class="topbar">
          <nav class="nav">
            <ul class="nav__list text-16">
              <li class="nav__item"><a class="nav__link" href="#!">Проекты</a></li>
              <li class="nav__item"><a class="nav__link" href="#!">Новости</a></li>
              <li class="nav__item"><a class="nav__link" href="#!">О компании</a></li>
              <li class="nav__item"><a class="nav__link" href="#!">Отзывы</a></li>
              <li class="nav__item"><a class="nav__link" href="#!">Контакты</a></li>
            </ul>
          </nav>
        </div>
        <div class="nav accardion-wrapper">
          <div class="nav__item accardion">
            <div class="nav__item-head text-16">
              <span>Строительство промышленных объектов</span>
              <svg class="icons-angle">
                <use xlink:href="images/sprite.svg#angle"></use>
              </svg>
            </div>
            <div class="nav__item-body">
              <div class="menu__content">
                <div class="menu__col">
                  <span class="btn-fonts menu__col-title">Этапы</span>
                  <ul class="menu__col-list text-16">
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Проектирование</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Фундамент / Монолитные
                        работы</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Изготовление и монтаж
                        каркаса</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Устройство теплого
                        контура</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Отделка / Монтаж инженерных
                        сетей</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Готовые решения</a></li>
                  </ul>
                </div>
                <div class="menu__col">
                  <span class="btn-fonts menu__col-title">объекты</span>
                  <ul class="menu__col-list text-16">
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Ангары, Склады</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Цеха, промышленные
                        здания</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Торговые здания</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Автосервисы</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Центры логистики</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Сельхоз объекты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="nav__item accardion">
            <div class="nav__item-head text-16">
              <span>Реконструкция зданий и сооружений</span>
              <svg class="icons-angle">
                <use xlink:href="images/sprite.svg#angle"></use>
              </svg>
            </div>
            <div class="nav__item-body">
              <div class="menu__content">
                <div class="menu__col">
                  <span class="btn-fonts menu__col-title">Этапы</span>
                  <ul class="menu__col-list text-16">
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Проектирование</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Фундамент / Монолитные
                        работы</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Изготовление и монтаж
                        каркаса</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Устройство теплого
                        контура</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Отделка / Монтаж инженерных
                        сетей</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Готовые решения</a></li>
                  </ul>
                </div>
                <div class="menu__col">
                  <span class="btn-fonts menu__col-title">объекты</span>
                  <ul class="menu__col-list text-16">
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Ангары, Склады</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Цеха, промышленные
                        здания</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Торговые здания</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Автосервисы</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Центры логистики</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Сельхоз объекты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="nav__item accardion">
            <div class="nav__item-head text-16">
              <span>Производство металлоконструкций</span>
              <svg class="icons-angle">
                <use xlink:href="images/sprite.svg#angle"></use>
              </svg>
            </div>
            <div class="nav__item-body">
              <div class="menu__content">
                <div class="menu__col">
                  <span class="btn-fonts menu__col-title">Этапы</span>
                  <ul class="menu__col-list text-16">
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Проектирование</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Фундамент / Монолитные
                        работы</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Изготовление и монтаж
                        каркаса</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Устройство теплого
                        контура</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Отделка / Монтаж инженерных
                        сетей</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Готовые решения</a></li>
                  </ul>
                </div>
                <div class="menu__col">
                  <span class="btn-fonts menu__col-title">объекты</span>
                  <ul class="menu__col-list text-16">
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Ангары, Склады</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Цеха, промышленные
                        здания</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Торговые здания</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Автосервисы</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Центры логистики</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Сельхоз объекты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="nav__item accardion">
            <div class="nav__item-head text-16">
              <span>Строительство загородных домов</span>
              <svg class="icons-angle">
                <use xlink:href="images/sprite.svg#angle"></use>
              </svg>
            </div>
            <div class="nav__item-body">
              <div class="menu__content">
                <div class="menu__col">
                  <span class="btn-fonts menu__col-title">Этапы</span>
                  <ul class="menu__col-list text-16">
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Проектирование</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Фундамент / Монолитные
                        работы</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Изготовление и монтаж
                        каркаса</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Устройство теплого
                        контура</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Отделка / Монтаж инженерных
                        сетей</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Готовые решения</a></li>
                  </ul>
                </div>
                <div class="menu__col">
                  <span class="btn-fonts menu__col-title">объекты</span>
                  <ul class="menu__col-list text-16">
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Ангары, Склады</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Цеха, промышленные
                        здания</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Торговые здания</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Автосервисы</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Центры логистики</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Сельхоз объекты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="nav__item accardion">
            <div class="nav__item-head text-16">
              <span>Проектирование</span>
              <svg class="icons-angle">
                <use xlink:href="images/sprite.svg#angle"></use>
              </svg>
            </div>
            <div class="nav__item-body">
              <div class="menu__content">
                <div class="menu__col">
                  <span class="btn-fonts menu__col-title">Этапы</span>
                  <ul class="menu__col-list text-16">
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Проектирование</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Фундамент / Монолитные
                        работы</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Изготовление и монтаж
                        каркаса</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Устройство теплого
                        контура</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Отделка / Монтаж инженерных
                        сетей</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Готовые решения</a></li>
                  </ul>
                </div>
                <div class="menu__col">
                  <span class="btn-fonts menu__col-title">объекты</span>
                  <ul class="menu__col-list text-16">
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Ангары, Склады</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Цеха, промышленные
                        здания</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Торговые здания</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Автосервисы</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Центры логистики</a></li>
                    <li class="menu__col-item"><a class="menu__col-link" href="#!">Сельхоз объекты</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="burger__bottom">
        <div class="burger__bottom-content">
          <div class="box">
            <span>г. Санкт-Петербург</span>
            <span>ул. Швецова 17, пом 5н</span>
          </div>
          <div class="box">
            <span>Пн-Вс 09:00-21:00</span>
            <a href="mailto:info@mvk.ru">info@mvk.ru</a>
          </div>
          <div class="phone-box">
            <a class="h5" href="tel:88124022060">8 (812) 402-20-60</a>
            <span class="text-14">Обратный звонок</span>
          </div>
        </div>
        <div class="burger__bottom-btns">
          <div class="btn btn-transp">
            <a class="btn-el" href="#contact-us"></a>
            <div class="btn__content-box">
              <div class="btn__content">
                <span>Связаться с нами</span>
                <span>Связаться с нами</span>
              </div>
            </div>
          </div>
          <div class="btn btn-blue">
            <button class="btn-el modal-open burger-close" data-path="project-planning"></button>
            <div class="btn__content-box">
              <div class="btn__content">
                <span>Рассчитать проект</span>
                <span>Рассчитать проект</span>
              </div>
            </div>
          </div>
        </div>
        <div class="socials">
          <ul class="socials__list">
            <li class="socials__item">
              <a class="socials__link" href="#!">
                <svg class="icons">
                  <use xlink:href="images/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#!">
                <div class="icons-whatsapp-box">
                  <svg class="icons">
                    <use xlink:href="images/sprite.svg#whatsapp"></use>
                  </svg>
                  <svg class="icons-whatsapp-phone">
                    <use xlink:href="images/sprite.svg#whatsapp-phone"></use>
                  </svg>
                </div>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#!">
                <svg class="icons">
                  <use xlink:href="images/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>