<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <a class="btn-up btn-arrow btn-arrow-hover" id="btn-up" href="#wrapper">
        <div class="btn-arrow__content">
          <svg class="icons-btn-arrow">
            <use xlink:href="images/sprite.svg#arrow"></use>
          </svg>
          <svg class="icons-btn-arrow">
            <use xlink:href="images/sprite.svg#arrow"></use>
          </svg>
        </div>
      </a>
      <div class="footer__content">
        <div class="footer__box">
          <a class="logo" href="#!">
            <svg class="icons-logo">
              <use xlink:href="images/sprite.svg#logo"></use>
            </svg>
          </a>
          <div class="btn btn-blue">
            <button class="btn-el modal-open" data-path="project-planning"></button>
            <div class="btn__content-box">
              <div class="btn__content">
                <span>Рассчитать проект</span>
                <span>Рассчитать проект</span>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__nav">
          <span class="btn-fonts">Компания</span>
          <nav class="nav">
            <ul class="nav__list text-16">
              <li class="nav__item"><a class="nav__link" href="#!">Проекты</a></li>
              <li class="nav__item"><a class="nav__link" href="#!">Новости</a></li>
              <li class="nav__item"><a class="nav__link" href="#!">О компании</a></li>
              <li class="nav__item"><a class="nav__link" href="#!">Отзывы</a></li>
              <li class="nav__item"><a class="nav__link" href="#!">Контакты</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer__nav">
          <span class="btn-fonts">Услуги</span>
          <nav class="nav">
            <ul class="nav__list text-16">
              <li class="nav__item"><a class="nav__link" href="#!">Строительство промышленных объектов</a></li>
              <li class="nav__item"><a class="nav__link" href="#!">Реконструкция зданий и сооружений</a></li>
              <li class="nav__item"><a class="nav__link" href="#!">Производство металлоконструкций</a></li>
              <li class="nav__item"><a class="nav__link" href="#!">Строительство загородных домов</a></li>
              <li class="nav__item"><a class="nav__link" href="#!">Проектирование</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer__contacts">
          <div class="footer__contacts-box">
            <span class="btn-fonts">Контакты</span>
            <div class="footer__contacts-items link">
              <div class="phone-box">
                <a class="h4" href="tel:88124022060">8 (812) 402-20-60</a>
                <span class="text-14">Обратный звонок</span>
              </div>
              <a class="h4" href="mailto:info@mvk.ru">info@mvk.ru</a>
            </div>
          </div>
          <div class="socials">
            <ul class="socials__list">
              <li class="socials__item">
                <a class="socials__link" href="#!">
                  <svg class="icons">
                    <use xlink:href="images/sprite.svg#vk"></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#!">
                  <div class="icons-whatsapp-box">
                    <svg class="icons">
                      <use xlink:href="images/sprite.svg#whatsapp"></use>
                    </svg>
                    <svg class="icons-whatsapp-phone">
                      <use xlink:href="images/sprite.svg#whatsapp-phone"></use>
                    </svg>
                  </div>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#!">
                  <svg class="icons">
                    <use xlink:href="images/sprite.svg#telegram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="footer__address text-14">
            <svg class="icons-marker">
              <use xlink:href="images/sprite.svg#marker"></use>
            </svg>
            <div class="footer__address-box">
              <div class="box">
                <span>г. Санкт-Петербург</span>
                <span>ул. Швецова 17, пом 5н</span>
              </div>
              <div class="box">
                <span>Пн-Вс 09:00-21:00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom text-14">
        <div class="footer__bottom-box">
          <div>
            <a href="#!">ИНН 1215089850</a>
            <svg class="icons-point">
              <use xlink:href="images/sprite.svg#point"></use>
            </svg>
            <a href="#!">ОГРН 1031200423044</a>
          </div>
          <span>© 2023 Строительная компания ООО «МВК»</span>
        </div>
        <div class="footer__bottom-box">
          <a href="#!">Политика конфиденциальности</a>
          <a href="#!">Лицензии и сертификаты</a>
        </div>
        <div class="footer__bottom-box">
          <a href="#!">Карта сайта</a>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
<!--=include modal.html-->
<script defer src="libs/swiper/swiper-bundle.min.js"></script>
<script defer src="libs/inputmask/inputmask.min.js"></script>
<script defer src="js/main.js"></script>
</body>

</html>