<header class="header">
  <div class="topbar">
    <div class="container">
      <div class="topbar__inner">
        <nav class="nav">
          <ul class="nav__list text-14">
            <li class="nav__item"><a class="nav__link" href="#!">Проекты</a></li>
            <li class="nav__item"><a class="nav__link" href="#!">Новости</a></li>
            <li class="nav__item"><a class="nav__link" href="#!">О компании</a></li>
            <li class="nav__item"><a class="nav__link" href="#!">Отзывы</a></li>
            <li class="nav__item"><a class="nav__link" href="#!">Контакты</a></li>
          </ul>
        </nav>
        <div class="socials">
          <ul class="socials__list">
            <li class="socials__item">
              <a class="socials__link" href="#!">
                <svg class="icons">
                  <use xlink:href="images/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#!">
                <div class="icons-whatsapp-box">
                  <svg class="icons">
                    <use xlink:href="images/sprite.svg#whatsapp"></use>
                  </svg>
                  <svg class="icons-whatsapp-phone">
                    <use xlink:href="images/sprite.svg#whatsapp-phone"></use>
                  </svg>
                </div>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#!">
                <svg class="icons">
                  <use xlink:href="images/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="header-wrapper">
    <div class="container">
      <div class="header__inner">
        <div class="header__left text-14">
          <a class="logo" href="#!">
            <svg class="icons-logo">
              <use xlink:href="images/sprite.svg#logo"></use>
            </svg>
          </a>
          <div class="box">
            <span>г. Санкт-Петербург</span>
            <span>ул. Швецова 17, пом 5н</span>
          </div>
          <div class="box link">
            <span>Пн-Вс 09:00-21:00</span>
            <a href="mailto:info@mvk.ru">info@mvk.ru</a>
          </div>
        </div>
        <div class="header__right">
          <div class="phone-box link">
            <a class="h5" href="tel:88124022060">8 (812) 402-20-60</a>
            <span class="text-14">Обратный звонок</span>
          </div>
          <div class="header__btns">
            <div class="btn btn-transp">
              <a class="btn-el" href="#contact-us"></a>
              <div class="btn__content-box">
                <div class="btn__content">
                  <span>Связаться с нами</span>
                  <span>Связаться с нами</span>
                </div>
              </div>
            </div>
            <div class="btn btn-blue">
              <button class="btn-el modal-open burger-close" data-path="project-planning"></button>
              <div class="btn__content-box">
                <div class="btn__content">
                  <span>Рассчитать проект</span>
                  <span>Рассчитать проект</span>
                </div>
              </div>
            </div>
          </div>
          <button class="burger__open">
            <span class="burger__open-line"></span>
            <span class="burger__open-line"></span>
            <span class="burger__open-line"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="menu">
      <div class="container">
        <div class="menu__inner">
          <ul class="menu__list text-14">
            <li class="menu__item">
              <a class="menu__link" href="#!">Строительство промышленных объектов</a>
              <div class="menu-body link">
                <div class="container">
                  <div class="menu__inner">
                    <div class="menu__content">
                      <div class="menu__col">
                        <span class="btn-fonts menu__col-title">Этапы</span>
                        <ul class="menu__col-list text-16">
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Проектирование</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Фундамент / Монолитные
                              работы</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Изготовление и монтаж
                              каркаса</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Устройство теплого
                              контура</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Отделка / Монтаж инженерных
                              сетей</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Готовые решения</a></li>
                        </ul>
                      </div>
                      <div class="menu__col">
                        <span class="btn-fonts menu__col-title">объекты</span>
                        <ul class="menu__col-list text-16">
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Ангары, Склады</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Цеха, промышленные
                              здания</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Торговые здания</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Автосервисы</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Центры логистики</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Сельхоз объекты</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#!">Реконструкция зданий и сооружений</a>
              <div class="menu-body link">
                <div class="container">
                  <div class="menu__inner">
                    <div class="menu__content">
                      <div class="menu__col">
                        <span class="btn-fonts menu__col-title">Этапы</span>
                        <ul class="menu__col-list text-16">
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Устройство теплого
                              контура</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Фундамент / Монолитные
                              работы</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Проектирование</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Изготовление и монтаж
                              каркаса</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Отделка / Монтаж инженерных
                              сетей</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Готовые решения</a></li>
                        </ul>
                      </div>
                      <div class="menu__col">
                        <span class="btn-fonts menu__col-title">объекты</span>
                        <ul class="menu__col-list text-16">
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Ангары, Склады</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Цеха, промышленные
                              здания</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Торговые здания</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Автосервисы</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Центры логистики</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Сельхоз объекты</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#!">Производство металлоконструкций</a>
              <div class="menu-body link">
                <div class="container">
                  <div class="menu__inner">
                    <div class="menu__content">
                      <div class="menu__col">
                        <span class="btn-fonts menu__col-title">Этапы</span>
                        <ul class="menu__col-list text-16">
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Изготовление и монтаж
                              каркаса</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Проектирование</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Фундамент / Монолитные
                              работы</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Устройство теплого
                              контура</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Отделка / Монтаж инженерных
                              сетей</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Готовые решения</a></li>
                        </ul>
                      </div>
                      <div class="menu__col">
                        <span class="btn-fonts menu__col-title">объекты</span>
                        <ul class="menu__col-list text-16">
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Ангары, Склады</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Цеха, промышленные
                              здания</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Торговые здания</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Автосервисы</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Центры логистики</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Сельхоз объекты</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#!">Строительство загородных домов</a>
              <div class="menu-body link">
                <div class="container">
                  <div class="menu__inner">
                    <div class="menu__content">
                      <div class="menu__col">
                        <span class="btn-fonts menu__col-title">Этапы</span>
                        <ul class="menu__col-list text-16">
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Фундамент / Монолитные
                              работы</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Изготовление и монтаж
                              каркаса</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Устройство теплого
                              контура</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Проектирование</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Отделка / Монтаж инженерных
                              сетей</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Готовые решения</a></li>
                        </ul>
                      </div>
                      <div class="menu__col">
                        <span class="btn-fonts menu__col-title">объекты</span>
                        <ul class="menu__col-list text-16">
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Ангары, Склады</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Цеха, промышленные
                              здания</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Торговые здания</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Автосервисы</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Центры логистики</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Сельхоз объекты</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#!">Проектирование</a>
              <div class="menu-body link">
                <div class="container">
                  <div class="menu__inner">
                    <div class="menu__content">
                      <div class="menu__col">
                        <span class="btn-fonts menu__col-title">Этапы</span>
                        <ul class="menu__col-list text-16">
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Изготовление и монтаж
                              каркаса</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Проектирование</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Фундамент / Монолитные
                              работы</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Устройство теплого
                              контура</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Отделка / Монтаж инженерных
                              сетей</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Готовые решения</a></li>
                        </ul>
                      </div>
                      <div class="menu__col">
                        <span class="btn-fonts menu__col-title">объекты</span>
                        <ul class="menu__col-list text-16">
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Ангары, Склады</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Цеха, промышленные
                              здания</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Торговые здания</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Автосервисы</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Центры логистики</a></li>
                          <li class="menu__col-item"><a class="menu__col-link" href="#!">Сельхоз объекты</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>