.intro {
  margin-bottom: 80px;
  position: relative;
  color: var(--white);
  background-color: var(--black);

  &__inner {}

  &__swiper-wrapper {}

  &__swiper {}

  .swiper-wrapper {}

  .swiper-slide {}

  &__slide {
    height: clamp(700px, 95vh, 811px);
  }

  &__slide-bg {
    aspect-ratio: 1600/811;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 24px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 180px;
    width: 100%;

    .h1 {
      max-width: 710px;
    }
  }

  &__content-list {
    width: max-content;

    padding-right: 15px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    li {
      list-style: inside;
    }
  }

  &__content-item {}

  &__bottom-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &__bottom {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 140px;
    padding: 40px 0 50px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 198px;

    color: var(--black);

    .swiper-index-box {
      margin-left: auto;
      color: var(--white);
    }

    .swiper-index-current {}

    .swiper-index-max {}
  }
}

.banner {
  margin-bottom: 120px;

  &__inner {
    padding: 50px;

    display: flex;
    flex-direction: column;

    position: relative;

    background: var(--grey-100);

    overflow: hidden;
  }

  &__img {
    aspect-ratio: 596/397;
    max-width: 596px;
    width: clamp(459px, 34vw, 100%);
    height: auto;
    margin-left: auto;
    object-fit: cover;
    display: block;
    mix-blend-mode: darken;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 211px;
  }

  &__title {
    max-width: 500px;
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px 48px;
    position: relative;
    z-index: 2;

    span.text-16 {
      max-width: 250px;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
  }

  .socials {
    &__list {
      gap: 17px;
    }

    &__item {}

    &__link {
      width: 49px;
      height: 49px;
      background: var(--white);
    }

    .icons {
      width: 15px;
      height: 14px;
      fill: var(--blue);
    }

    .icons-whatsapp-box {}

    .icons-whatsapp-phone {
      width: 8px;
      height: 8px;
      fill: var(--white);
    }
  }
}

.section-swiper {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 50px;

  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px 0;
  }

  &__swiper-wrapper {}

  &__swiper {
    margin: 0 -20px;
    padding: 0 20px;
  }

  .swiper-slide {
    max-width: 353px;
  }

  .swiper-slide:nth-child(1) {
    max-width: 735px;

    .section-swiper__image-box {
      aspect-ratio: 735/400;
      max-width: 100%;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &:hover {
      .section-swiper__image-box {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      }

      .section-swiper__img {
        transform: scale(1.1);
      }

      .btn-arrow {
        transform: translateY(0);
        opacity: 1;
      }

      .icons-btn-arrow {
        transform: translateX(200%);
      }
    }
  }

  &__image-box {
    aspect-ratio: 353/250;
    max-width: 353px;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    background: #d9d9d9;
    transition: all .5s ease;

    .btn-arrow {
      position: absolute;
      right: 20px;
      bottom: 20px;

      transform: translateY(10%);
      opacity: 0;
      transition: all .4s ease;
    }

    .btn-arrow__content .icons-btn-arrow:first-child {
      stroke: var(--black);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform .5s ease;
  }

  &__info-wrapper {
    max-width: 410px;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    opacity: 0.6;
  }
}

.about-us {

  &__inner {}

  &__content {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 59px 83px;
  }

  &__box {
    max-width: 353px;
    min-width: 228px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__image-box {
    aspect-ratio: 353/203;
    width: 100%;
    height: auto;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__title-box {
    max-width: 990px;

    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

.advantages {
  padding: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;

  background: var(--grey-100);

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }

  &__item-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
      stroke: var(--blue);
      fill: none;
      flex-shrink: 0;
    }
  }

  &__item-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}

.main-news {
  &__swiper {
    .swiper-slide:nth-child(1) {
      max-width: 740px;

      .section-swiper__img {
        height: 400px;
      }
    }

    .swiper-slide {
      max-width: 360px;
    }

    .section-swiper__image-box {
      aspect-ratio: 360/250;
      max-width: 360px;
      max-height: 400px;
    }
  }
}