.objects {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__item {
    padding: 27px 30px 40px;

    &:hover {
      padding: 27px 30px 40px;
      justify-content: space-between;

      .services__item-head {
        margin: 0;
      }

      .services__item-numb {
        transform: translateY(0);
        opacity: 1;
      }

      .factoids,
      .text-14 {
        color: var(--white);
      }
    }
  }

  .services__item {
    grid-column: span 1;
  }
}